.header
{
    width:100%;
    min-height:6rem;
    position:absolute;
    top:0;
    z-index:420;

    display:flex;
    justify-content: space-between;


    .header__menu
    {
        display:inline-block;
        padding-top:0.5rem;
        padding-right:1.5rem;

        .menu
        {
            margin-top:1.5rem;
            margin-right:1rem;
            
            a,
            button {
                color:#FFF;
                text-decoration:none;
                text-transform: uppercase;
                border:0;
                background:transparent;
            }
        }
    }

    .logo
    {
        // .koletoLogo {
        //     width: 140px;
        //     height: 70px;
        //     background:url(#{$image_path}/Logo/koleto-logo.svg);
        //     background-size:140px 70px;
        // }
        
        a
        {
            display:block;
            margin: 0.5rem 1rem;
        }
        img
        {
            max-height:50px;
        }
        svg
        {
            width:auto;
            height:70px;
            max-height:70px;

            path,
            polygon
            {
                transition:fill .2s linear;
            }

            &:hover path,
            &:hover polygon
            {
                // Fill with color (animated 60FPS)
                fill:$color__primary

                // Fill with gradient, but not animated
                // fill: url(#linearGradient-2)
            }
        }

        &.active {
            path,
            polygon
            {
                fill:#FFF;
            }
        }
    }

    &.sticky 
    {
        position: fixed;
        top: 0;
        width: 100%;
        z-index:420;
        background-image:$color__gradient-primary;

        // @todo: animate transform: translateY to scroll down once when sticky class is applied

        .logo {
            display:inline-block;

            svg {
                path,
                polygon {
                    fill:#FFF;
                    opacity:1;
                    transition: opacity .2s linear;
                }
                &:hover path,
                &:hover polygon {
                    // Fill with color (animated 60FPS)
                    fill: #FFF;
                    opacity:0.7;
                    
                    // Fill with gradient, but not animated
                    // fill: url(#linearGradient-2)
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        & {
            min-height:4.5rem;
        }
    }

}

.sticky + .content
{
    padding-top: 60px;
}

@include media-breakpoint-up(md) {
    .admin-bar .header
    {
        padding-top:2rem;
    }
}

/*--------------------------------------------------------------
## Mobile Menu
--------------------------------------------------------------*/

.mobile-menu
{
    position: fixed;
    width: 100%;
    height: 100%;
    background: $color__gradient-primary;
    z-index: 400;
    padding: 20% 0%;
    font-size: 2.5rem;
    color:#FFF;
    transform: translateX(100%);
    transition: transform 200ms linear;

    &.active
    {
        transform: translateX(0);
    }

    a,
    a:visited,
    button
    {
        color:#FFF;
        text-decoration:none;
        border:0;
        background:transparent;
        font-size: 2.5rem;
    }

    ul
    {
        margin:0;
    }

    li
    {
        width:100%;
        display:block;
    }
}

.mobile-menu-btn {
    width: 50px;
    height: 33px;
    display: block;
    position: relative;

    input[type=checkbox] {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        cursor: pointer;
        -webkit-touch-callout: none;
        opacity: 0;
        &:checked+.ham :nth-child(1) {
            transform: translateY(14px) rotate(45deg);
        }
        &:checked+.ham :nth-child(2) {
            transform: rotate(45deg);
        }
        &:checked+.ham :nth-child(3) {
            transform: translateY(-14px) rotate(-45deg);
        }
    }
    .ham {
        z-index: 1;
        .line {
            width: 50px;
            height: 5px;
            background: #FFF;
            display: block;
            margin: 9px auto;
            border-radius: 25px;
            transition: all 0.2s ease-in-out;
        }
        &.active .line:nth-child(1) {
            transform: translateY(14px) rotate(45deg);
        }
        &.active .line:nth-child(2) {
            transform: rotate(45deg);
        }
        &.active .line:nth-child(3) {
            transform: translateY(-14px) rotate(-45deg);
        }
    }

    @include media-breakpoint-up(lg) {
        & {
            display:none;
        }
    }

}

#mobile-menu {
    margin-top:2rem;
}