/* Image Grid
* Used for created 2 column grids where images float behind a segment (box) */
.image-grid
{
    .row
    {
        position:relative;
        margin:6rem 0;


        /* Both the .row and .image need the .right class to make it work */
        &.right {
            flex-direction: row-reverse;


            & > section {
                display: flex;
                flex-direction: row;
                align-items:flex-start;
                align-content:flex-start;
            }
            & > section:first-child {
                order:2;
            }
            & > section:nth-child(2n) {
                order:1;
            }
        }
        
        @include media-breakpoint-only(sm) {
            .segment {
                margin:-1rem;
                z-index:710;
            }
        }

        @include media-breakpoint-up(lg) {

            .image
            {
                z-index:-1;

                /* Both the .row and .image need the .right class to make it work */
                &.right
                {
                    order: 2;
                    img {
                        float:right;
                    }
                }
            }

            .text
            {
                position:absolute;
                top:0;
                left:0;
                
                &.right
                {
                    left:auto;
                    right:0;
                }
            }
        }
    }
}