.menu
{
    & > ul {

        li
        {
            display:inline-block;
            margin-right:1rem;
        }
    }
}

#primary-menu
{
    button {
        cursor: pointer;
    }
    
    a 
    {
        font-size: 0.75rem;
    }
    @include media-breakpoint-down(md) {
        display:none;
    }

}