.menu
{
    & > ul {

        li
        {
            display:inline-block;
            margin-right:1rem;
        }
    }
}

#primary-menu
{
    @include media-breakpoint-down(md) {
        display:none;
    }

}