$color__background-body: #F7FAFF;
$color__background-screen: #F7FAFF;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__primary: #6C3F98;
$color__secondary: #EE486B;
$color__gradient-primary: linear-gradient(-134deg, #6C3F98 0%, #EE486B 100%);
$color__gradient-primary-left: linear-gradient(-225deg, #6C3F98 0%, #EE486B 100%);
$color__gradient-secondary:linear-gradient(-135deg, #6C3F98 0%, #CF6FE5 100%);
$color__gradient-secondary-stripe:linear-gradient(44deg, #6C3F98 0%, #9C47F0 100%);
$color__gradient-secondary-radial:radial-gradient(62% -6%, #6C3F98 0%, #AE5AFF 100%);
$color__gradient-tertiary: linear-gradient(-135deg, #AB1A38 0%, #EE486B 100%);


$color__text-screen: #6C3F98;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #6C3F98;
$color__link-visited: rgb(71, 41, 100);
$color__link-hover: #EE486B;
$color__text-main: #343F52;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
