/*-------------------
       Button
--------------------*/

$button_radius: 85px;

/*-------------------
       Stripes
--------------------*/

// $stripe_width: 1270px;
// $stripe_height: 350px;
$stripe_width: 700px;
$stripe_height: 225px;
$stripe_height_half: $stripe_height / 1.5;